html{
    body{
        header{

                    height:20px;
        }
        #titleDiv{
            color:#5023b1;
            background : url('../resources/titleBackground.jpg') no-repeat center;
            background-size:cover;
            height:125px;
                h1{
                    text-align:center;
                    text-decoration: underline;
                }

                div#titleText{

                p{
                            text-align:center;
                                width: 50%;
                                margin-left: 25%;
                }
            }
        }
    }
}