html body header {
  height: 20px;
}
html body #titleDiv {
  color: #5023b1;
  background: url('../resources/titleBackground.jpg') no-repeat center;
  background-size: cover;
  height: 125px;
}
html body #titleDiv h1 {
  text-align: center;
  text-decoration: underline;
}
html body #titleDiv div#titleText p {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
html body div#section1 {
  height: 300px;
}
html body div#section1 div#formContainer {
  background: url('../resources/brand1.png') no-repeat center;
  background-size: contain;
  height: 100%;
  position: relative;
}
html body div#section1 div#formContainer form#userForm {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -42px;
  margin-top: -19px;
}
