html{
    body{
        header{

                    height:20px;
        }
        #titleDiv{
            color:#5023b1;
            background : url('../resources/titleBackground.jpg') no-repeat center;
            background-size:cover;
            height:125px;
                h1{
                    text-align:center;
                    text-decoration: underline;
                }

                div#titleText{

                p{
                            text-align:center;
                                width: 50%;
                                margin-left: 25%;
                }
            }
        }

        div#section1{
          
            height:300px;

            div#video{

                
            }

            div#formContainer{
                        
                background : url('../resources/brand1.png') no-repeat center;
                background-size:contain;
                height:100%;
                position:relative;

                form#userForm{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 300px;
                    height: 100px;
                    margin-left: -42px;
                    margin-top: -19px;
                }
            }
        }
    }
}