div#container {
  background: url('../resources/brand1.png') no-repeat center;
  background-size: contain;
  height: 250px;
  width: 40%;
  position: relative;
}
div#container p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -29px;
}
